body {
  text-align: center;
  color: azure;
  background-color: black;
}

h1 {
  color: blueviolet;
  text-transform: uppercase;
}

#example-1 {
  color: azure;
  justify-items: center;
  align-items: center;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  color: #1a1a1a;
}
